Gabriele_Caslini_CV.pdf
20251210_Final_Presentation.pptx
placeholder_aida_demo_original.mp4
LAB_presentation.pptx
Assignment_5.pdf
epochV_architectures.txt
Automatic_Path_Annotation___CCTA_2026_V__2.pdf
.claude
